In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

# para pintar
import pylab as plt
import seaborn as sns

# para que salga el grafico
%matplotlib inline

In [2]:
actor = pd.read_csv('../data/actor.csv', encoding = "ISO-8859-1")
category = pd.read_csv('../data/actor.csv', encoding = "ISO-8859-1")
film = pd.read_csv('../data/actor.csv', encoding = "ISO-8859-1")
inventore = pd.read_csv('../data/actor.csv', encoding = "ISO-8859-1")
language = pd.read_csv('../data/actor.csv', encoding = "ISO-8859-1")
old_HDD = pd.read_csv('../data/actor.csv', encoding = "ISO-8859-1")
rental = pd.read_csv('../data/actor.csv', encoding = "ISO-8859-1")

In [3]:
actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [4]:
actor.shape

(200, 4)

In [5]:
actor.columns

Index(['actor_id', 'first_name', 'last_name', 'last_update'], dtype='object')

In [6]:
actor.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 41.0 KB